@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@400&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Poppins', sans-serif; 
    background: #010e1fe8;
    color: #f7f6f6;
}

.title {
    font-family: Playfair Display, Cinzel, "Cormorant Garamond";
    align-self: flex-start;
    margin-left: 3vw;
    letter-spacing: 4px;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s;
}


/* HEADER */

.header1, .header2 {
    background: #010222;
    border: 1px solid #021a3a5d;
    width: 100%;
}

.header1 {
    padding: 2vh 4vw;
    margin-bottom: 5vh;
}

.header2 {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header .bar-recherche {
    font-size: 4vw;
    border: 3px solid #021a3a94;
    color: #010e1fe8;
    border-radius: 50vh;
    width: 94%;
    padding: 0.7vh 1.2vw;
    font-weight: bold;
    letter-spacing: 0.09rem;
    transition: 
        font-size 0.3s,
        border 0.3s,
        padding 0.3s;
}

header .bar-recherche:focus {
    font-size: 4.5vw;
    border: 3px solid #010e1fe8;
    padding: 1vh 0.2vw;
}

:is(.header2, .header1) h1, .header2 .recherche {
    display: none;
}

.header2 .page-principale {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
}

.header2 .nav-div {
    display: inline-flex;
    flex-direction: column;
}

.header2 a, footer .apc * {
    color: #f7f6f6;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition:
        padding 0.3s,
        font-size 0.3s,
        font-weight 0.3s,
        font-style 0.3s,
        color 0.3s;
}

.nav-div p {
    color: #f7f6f6;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.header2 .icone-nav {
    align-self: center;
    width: 13vw;
    height: 5vh;
}

.header2 :is(a:not(a.title), .icone-nav):hover {
    padding: 0 0.3em;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: oblique;
}

.header2 a:not(a.title):hover {
    border: 1px solid #f7f6f6;
}

.nav-div p:active, .apc a:active, header h1 a:active {
    color: rgb(53, 52, 52);
}


@media screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
    
    .header1 {
        display: none;
    }

    .header2 {
        position: sticky;
        top: 1px;
        background: linear-gradient(to right, #021a3a94, #5ca1e667);
        justify-content: space-around;
        align-items: center;
    }

    .header2 h1, .header2 .recherche {
        display: block;
    }

    .header2 h1 {
        align-self: center;
    }

    .header2 .recherche {
        width: 30%;
    }

    header .bar-recherche {
        width: 100%;
    }

    .header2 .page-principale {
        width: 40%;
    }

    .header2 .icone-nav {
        align-self: center;
        width: 5vw;
    }
}

/* MAIN */


main .description {
    background: #041731e8;
    font-size: 3.5vw;
    font-weight: 800;
    text-align: center;
    letter-spacing: 1.1px;
    width: 78%;
    margin: 10vh auto;
    padding: 3vh;
    border: 1px solid #041731e8;
    border-radius: 2.5vw;
}

main .des2, .hid {
    display: none;
}

main .titlte-quality, main .title-best-prod {
    letter-spacing: 1.5px;
    margin-bottom: 8vh;
    margin-left: 0;
}

main .quality {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    margin: 4vh 3vw 0 3vw;
}

main .qual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3.2vw;
    font-weight: 600;
    padding: 2vh;
    text-align: center;
    border: 2px solid #dae1ebe8;
    border-radius: 10px;
    background: #021530e8;
}

.qual .icons-quality {
    align-self: center;
    height: 15vh;
    width: 20vw;
}

main .title-best-prod {
    margin: 13vh auto 8vh auto;
}

main .cart-produits {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

main .best {
    border: 4px solid black;
    padding: 4vh 0;
    margin-bottom: 10vh;
}

.produits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid black;
    margin-bottom: 8vh;
    padding: 1.1em;
    background: rgb(1, 13, 31);
}

.img-produit {
    max-width: 35vw;
    border: 1px solid rgb(1, 13, 31);
    border-radius: 14px;
}

div.detail-prod {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 3.2vw;
    font-weight: 500;
    text-align: center;
}

button.commande {
    font-size: 3.4vw;
    border: 2px solid rgb(1, 13, 31);
    border-radius: 7px;
    background: rgb(191, 196, 209);
    font-weight: 500;
    text-align: center;
    padding: 2px;
    margin: 2vh auto;
    transition: 
        background 0.3s,
        color 0.3s,
        border-color 0.3s;
}

button.commande:hover, .butt-filtres-trie:hover, .formulaire button:hover {
    background: #011325;
    color: #fff;
}

button.commande:active, .butt-filtres-trie:active, .formulaire button:active {
    background: #0a356d85;
    color: white;
}


@media screen and (max-width: 520px) {
    main .quality {
        width: 100%;
        margin: 0;
    }

    main .qual {
        padding: 0;
    }
}


@media screen and (min-width: 1200px) {
    main .des2, .hid {
        display: block;
    }

    main .des1 {
        display: none;
    }

    main .quality {
        margin: 0;
    }

    main .qual {
        width: 25%;
        height: 47vh;
    }


    .qual .icons-quality {
        align-self: center;
        height: 100px;
        width: 100px;
    }

    .qual .text-quality {
        margin-top: 5vh;
    }

    main .title-best-prod {
        margin: 25vh auto 10vh auto;
    }

    main .best {
        border: 7px solid black;
        padding: 10vh 0;
        margin-bottom: 20vh;
    }

    .produits {
        border: 3px solid black;
    }

    .img-produit {
        max-width: 18vw;
    }
}


/* FOOTER */

footer {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vh;
    margin-bottom: 10vh;
}

.apc * {
    margin: 1.2vh 1.1vw;
    text-align: center;
    font-weight: 600;
    width: 40%;
}

.apc {
    display: flex;
    margin-top: 5vh;
    transition:
        background 0.3s,
        border 0.3s,
        padding 0.3s,
        color 0.3s;
}

.apc a:hover {
    background: rgba(1, 13, 34, 0.767);
    border: 2px solid #021a3a5d;
    padding: 0.4em;
}

.copyra {
    margin-top: 10vh;
    text-align: center;
}


@media screen and (min-width: 840px) {
    footer {
        font-size: 3vw;
    }
}

@media screen and (min-width: 1200px) {
    footer {
        margin-bottom: 1vh;
        font-size: 1.3em;
    }

    .apc * {
        width: auto;
    }

    .apc *:not(.apc *:last-child)::after {
        content: "/";
        padding-left: 2vw;
    }
}

/* PRODUITS */

.filtres-trie {
    display: none;
}

main .title-prod {
    margin: 12vh 0 6vh 0;
}

.page-produits {
    border: 4px solid black;
    padding-top: 5vh;
    margin-bottom: 10vh;
}


@media screen and (min-width: 1200px) {
    main .title-prod {
        margin: 12vh 0 6vh 0;
    }

    main .filtres-prod {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 19vh;
    }

    main .filtres-trie {
        display: block;
        border: 3px solid #010d1de8;
        padding: 2vh 1.4vw;
        margin-right: 3vw;
        width: 24%;
        height: 80vh;
        font-size: 1.5vw;
        font-weight: bold;
    }

    .filtres-trie h3 {
        text-align: center;
    }

    .filtres-trie label {
        font-size: 1.3vw;
        font-weight: 200;
    }

    .filtres-trie select, .filtres-trie input {
        box-sizing: border-box;
        font-size: 1.4vw;
        width: 100%;
        border: 3px solid #010e1fe8;
        border-radius: 7px;
        margin-bottom: 5vh;
    }

    .filtres-trie input {
        font-size: 1.4vw;
    }

    .filtres-trie .trie {
        margin: 3vh auto;
    }

    .filtres-trie .butt-filtres-trie {
        display: block;
        font-size: 1.4vw;
        border: 2px solid;
        border-radius: 7px;
        width: 10vw;
        margin: 0 auto;
        transition: 
            background 0.3s,
            color 0.3s,
            border-color 0.3s;
    }

    .page-produits {
        border: 4px solid black;
        padding-top: 5vh;
    }
}


/* ACCOUNT */

.formulaire .title-form {
    font-size: 7vw;
    text-align: center;
    margin: 0;
}

.formulaire{
    width: 90%;
    border: 1px solid #010e20e8;
    margin: 10vh auto;
    padding: 5vh 2vw;
}

.formulaire input, .form-avis select {
    display: block;
    font-size: 5vw;
    width: 100%;
    border: 2px solid black;
    height: 4vh;
    margin-bottom: 4vh;
    border-radius: 8px;
    transition: 
        border 0.3s,
        font-size 0.3s,
        padding 0.3s;
}

.formulaire input:focus {
    border: 3px solid #030d1be8;
    font-size: 5.3vw;
    padding: 0.6vh 0.2vw;
}

.formulaire label {
    display: block;
    font-size: 4vw;
}

.formulaire button {
    display: block;
    font-size: 3.5vw;
    padding: 1.2vw;
    margin: 6vh auto;
    margin-top: 7vh;
    font-weight: bold;
    background: white;
    transition: 
        background 0.5s,
        color 0.5s,
        border-color 0.5s,
        padding 0.5s,
        border-radius 0.5s;
}

.formulaire button:hover {
    padding: 0.4em;
    border-radius: 10px;
}

.formulaire .title-form {
    margin-bottom: 8vh;
    margin-top: 2vh;
}

.formulaire .mess {
    font-size: 3.2vw;
    text-align: center;
}


@media screen and (min-width: 1200px) {
    .formulaire{
        width: 40%;
        margin: 12vh auto;
        padding: 5vh 3vw;
    }

    .formulaire input, .form-avis select {
        height: 4vh;
    }

    .formulaire button {
        width: 15vw;
        padding: 0;
    }
    
}


/* POLITIQUE CONFI */

.main-pol .politique-title {
    font-size: 8vw;
}
.main-pol .upgrade {
    text-align: center;
    margin-bottom: 10vh;
}

.main-pol section {
    width: 80%;
    margin: auto;
    margin-bottom: 10vh;
}

.main-pol h3 {
    text-align: center;
    font-size: 5.7vw;
    font-weight: bold;
    margin-top: 7vh;
    border-top: 2px solid;
    padding-top: 4vh;
}

.main-pol p {
    font-size: 3vw;
}

.main-pol h4 {
    margin-top: 10vh;
    text-align: center;
    border-top: 1px solid;
    padding-top: 5vh;
}


@media screen and (min-width: 1200px) {
    .main-pol section {
        margin-bottom: 20vh;
    }
}


/* Form Avis */

main .form-avis {
    width: 90%;
}

main .title-avis {
    font-size: 7vw;
    text-align: center;
}

.form-avis select {
    width: 100%;
}

.form-avis textarea {
    width: 100%;
    height: 20vh;
}

.form-avis select {
    height: 5vh;
}



@media screen and (min-width: 1200px) {
    main .form-avis {
        width: 60%;
    }

    main .title-avis {
        font-size: 3.4vw;
    }

    .form-avis textarea {
        font-size: 1.1rem;
    }
}


/* Global Font size */

@media screen and (min-width: 1200px) {
    .title {
        font-size: 3.4vw;
    }
    header .bar-recherche {
        font-size: 1.6vw;
    }
    header .bar-recherche:focus {
        font-size: 1.7vw;
    }
    .nav-div p {
        font-size: 0.8vw;
    }
    main .description {
        font-size: 1.4vw;
    }
    main .qual {
        font-size: 1.1vw;
    }
    div.detail-prod {
        font-size: 1.2vw;
    }
    button.commande {
        font-size: 1.2em;
    }
    .formulaire .title-form {
        font-size: 2vw;
    }
    .formulaire{
        font-size: 1.4vw;
    }
    .formulaire input, .form-avis select {
        font-size: 1.2vw;
    }

    .formulaire input:focus {
        font-size: 1.4vw;
    }

    .formulaire label {
        font-size: 1.4vw;
    }

    .formulaire button {
        font-size: 1.5vw;
    }
    .formulaire .mess {
        font-size: 0.9vw;
    }
    .main-pol .politique-title {
        font-size: 3vw;
    }
    .main-pol h3 {
        font-size: 2.3vw;
    }
    .main-pol p {
        font-size: 1.2vw;
    }
}