@import url(../../../Dossier-Important/sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@400&display=swap');

html {
    font-size: 14px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #010e1fe8;
    color: #f7f6f6;
}

/* HEADER */

header {
    box-sizing: border-box;
    border: 1px solid #021a3a5d;
    background: linear-gradient(to right, #021a3a94, #5ca1e667);
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

header a, footer a {
    font-family: Playfair Display, Cinzel, "Cormorant Garamond";
    text-decoration: none;
    color: #f7f6f6;
    transition:
        padding 0.3s,
        font-size 0.3s,
        font-weight 0.3s,
        font-style 0.3s,
        color 0.3s;
}

header a:not(a.title):hover {
    padding: 0 0.3em;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: oblique;
}

header a:active, .apc a:active {
    color: rgb(53, 52, 52);
}

.title {
    font-family: Playfair Display, Cinzel, "Cormorant Garamond";
    align-self: flex-start;
    margin-left: 3vw;
    letter-spacing: 4px;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
}

header .bar-recherche {
    font-size: 1.1rem;
    border: 3px solid #021a3a94;
    color: #010e1fe8;
    border-radius: 50px;
    width: 60%;
    padding: 0.7vh 1.2vw;
    font-weight: bold;
    letter-spacing: 0.09rem;
    transition: 
        font-size 0.3s,
        border 0.3s,
        padding 0.3s;
}

header .bar-recherche:focus {
    font-size: 1.2rem;
    border: 3px solid #010e1fe8;
    padding: 1vh 0.2vw;
}

.butt-recherche {
    font-size: 1.02rem;
    border-radius: 20px;
    background: white;
    transition: 
        background 0.3s,
        color 0.3s,
        border-color 0.3s;
}

.butt-recherche:hover, button.commande:hover {
    background: #5ca1e6;
    color: #fff;
    border-color: #021a3a;
    cursor: pointer;
}

.butt-recherche:active, button.commande:active {
    background: #011e4485;
    color: white;
    border-color: #021a3a;
    cursor: pointer;
}

header nav {
    display: flex;
    justify-content: space-between;
}

.page-principale {
    margin: 0 6vw 0 4vw;
}

.page-secondaire {
    margin-left: 6vw;
}

.page-principale *, .page-secondaire * {
    margin-left: 0.7rem;
    font-size: 1.06em;
    font-weight: bold;
}

.page-secondaire *:first-child {
    margin-right: 0.7rem;
}

/* MAIN */

main .description {
    background: #041731e8;
    font-size: 1.6rem;
    font-weight: 800;
    text-align: center;
    width: 78%;
    margin: 10vh auto;
    padding: 3vh;
    border: 1px solid #041731e8;
    border-radius: 20px;
}

main .titlte-quality, main .title-best-prod {
    letter-spacing: 1.5px;
    margin-bottom: 8vh;
} 

main .quality {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .qual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    border: 2px solid #dae1ebe8;
    border-radius: 10px;
    padding: 1.5em;
    background: #021530e8;
}

.qual .icons-quality {
    align-self: center;
     height: 100px;
     width: 100px
}

main .title-best-prod {
    margin: 25vh auto 10vh auto;
}

main .cart-produits {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

main .best {
    border: 7px solid black;
    padding: 10vh 0;
    margin-bottom: 20vh;
}

.produits {
    display: flex;
    max-width: 19vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 3px solid black;
    margin-bottom: 8vh;
    padding: 1.1em;
    background: rgb(1, 13, 31);
}

.img-produit {
    max-width: 18vw;
}

div.detail-prod {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
}

button.commande {
    font-size: 1.3em;
    border: 2px solid;
    border-radius: 7px;
    background: rgb(191, 196, 209);
    font-weight: 500;
    text-align: center;
    padding: 3px;
    margin: 2vh auto;
    transition: 
        background 0.3s,
        color 0.3s,
        border-color 0.3s;
}

button.commande:hover, .butt-filtres-trie:hover, .formulaire button:hover {
    background: #011325;
    color: #fff;
}

button.commande:active, .butt-filtres-trie:active, .formulaire button:active {
    background: #0a356d85;
    color: white;
}

/* FOOTER */

footer {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
}

.apc * {
    margin: 1.2vh 1.1vw;
    text-align: center;
    font-weight: 600;
}

.apc {
    margin-top: 5vh;
    transition:
        background 0.3s,
        border 0.3s,
        padding 0.3s,
        color 0.3s;
}

.apc a:hover {
    background: rgba(1, 13, 34, 0.767);
    border: 2px solid #021a3a5d;
    padding: 0.4em;
}

.copyra {
    margin-top: 10vh;
    text-align: center;
}

/* PRODUITS */

main .title-prod {
    margin-top: 12vh;
}

main .filtres-prod {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 19vh;
}
main .filtres-trie {
    border: 3px solid #010d1de8;
    padding: 2vh 1.4vw;
    margin-right: 3vw;
    width: 24%;
    height: 80vh;
    font-size: 1.5em;
    font-weight: bold;
}

.filtres-trie h3 {
    text-align: center;
}

.filtres-trie label {
    font-size: 1em;
    font-weight: 200;
}

.filtres-trie select, .filtres-trie input {
    box-sizing: border-box;
    font-size: 0.7em;
    width: 100%;
    border: 3px solid #010e1fe8;
    border-radius: 7px;
    margin-bottom: 5vh;
}

.filtres-trie input {
    font-size: 0.6em;
}

.filtres-trie .trie {
    margin: 3vh auto;
}

.filtres-trie .butt-filtres-trie {
    display: block;
    font-size: 0.7em;
    border: 2px solid;
    border-radius: 7px;
    width: 10vw;
    margin: 0 auto;
    transition: 
        background 0.3s,
        color 0.3s,
        border-color 0.3s;
}

.page-produits {
    border: 4px solid black;
    padding-top: 5vh;
}

/* ACCOUNT */

.formulaire {
    width: 30%;
    box-sizing: border-box;
    border: 1px solid #010e20e8;
    margin: 12vh auto;
    font-size: 2em;
    padding: 5vh 2vw;
}

.formulaire input {
    display: block;
    width: 100%;
    font-size: 0.5em;
    height: 4vh;
    border: 2px solid black;
    margin-bottom: 5vh;
    border-radius: 8px;
    transition: 
        border 0.3s,
        font-size 0.3s,
        padding 0.3s;
}

.formulaire input:focus {
    border: 3px solid #030d1be8;
    font-size: 1.5rem;
    padding: 0.6vh 0.2vw;
}

.formulaire label {
    display: block;
    font-size: 0.9em;
}

.formulaire button {
    display: block;
    font-size: 0.7em;
    width: 15vw;
    margin: 6vh auto;
    margin-top: 10vh;
    font-weight: bold;
    background: white;
    transition: 
        background 0.5s,
        color 0.5s,
        border-color 0.5s,
        padding 0.5s,
        border-radius 0.5s;
}

.formulaire button:hover {
    padding: 0.4em;
    border-radius: 10px;
}

.formulaire .title-form {
    margin-bottom: 8vh;
    margin-top: 2vh;
}

.formulaire .mess {
    font-size: 0.6em;
    text-align: center;
}